

###############################################################################
# uASPIRE                                                                     #
# Simon Höllerer, ETH Zürich, D-BSSE, BPL, Basel, Switzerland                 #
# Config file for NGS raw data analysis                                       #
# Author: Simon Höllerer                                                      #
# Date: January, 2020                                                         #
###############################################################################

# DESCRIPTION: This is the configuration file for the NGS raw data analysis of
# uASPIre. In order to execute the script successfully, there needs to be a
# specified root folder with one subfolders named 'code'. After setting all 
# parameters in the config file, the script can be executed by calling
# >>> /path/to/script/main_process_raw_NGS_data.sh /path/to/config.cfg



############ Program parameters ############
# Set project name
PROJECT_NAME=uASPIre_RBS_example

# Specify root path as the desired working folder
ROOT_DIR="/home/hoelsimo/test_uASPIre/uASPIre_RBS_example"

# Specify full path file name of compressed raw files R1 (fwd) and R2 (rev)
IN_FILE_R1="${ROOT_DIR}/raw_data/uASPIre_RBS_example_R1.fastq.gz"
IN_FILE_R2="${ROOT_DIR}/raw_data/uASPIre_RBS_example_R2.fastq.gz"

# Specify directory of executables
EXE_DIR="/home/hoelsimo/test_uASPIre/NGS_data_analysis/executables"

# Specify agrep and tre-agrep file location
AGREP="/home/hoelsimo/opt/agrep/agrep"
TRE="/home/hoelsimo/opt/tre-0.8.0/bin/agrep"

# Define number of parallel tasks
PARALLEL_TASKS=12



############ Analysis parameters ############
# Define barcode combinations
SAMPLES_BC="11 22 33 44 55 66 61 52 43 34 25 16"
SAMPLES_NUMBER=12

# Define sample time points
SAMPLES_TIME_POINTS="10 20 30 40 50 60 70 80 90 100 110 120" 

# Define barcode sequences for left and right barcodes and barcode ID
BARCODES_L=(ATCACG CGATGT CTTGTA GCCAAT ACAGTG ACTTGA)
BARCODES_R=(ATCACG CGATGT CTTGTA GCCAAT ACAGTG ACTTGA)

# Define constant sequence
SEQ_CONSTANT=GAGCTCGCAT

# Define non-flipped (SEQ_NF) and flipped (SEQ_FF) sequence
SEQ_NF=GGGTTTGTACCGTACAC
SEQ_FF=GCCCGGATGATCCTGAC

# Define allowed mismatches for constant, BC, non-flipped and flipped sequence
MM_CONSTANT=3
MM_BC=1
MM_NF=3
MM_FF=3

# Define RBS length and offset # <------------------- offset from where?
RBS_LENGTH=17
RBS_OFFSET=6

# Define to write last X bases for discriminator search starting on 13
LAST=24



############ Obsolete? ############
# Define cutoffs
CUTOFF_OVERALL=1



############ Functional parameters - should not be changed! ############
# specify the names of single scripts (if other than default)
NAME_SCRIPT_0="0_gunzip.sh"
NAME_SCRIPT_1="1_QC_constant_par.sh"
NAME_SCRIPT_2="2_retrieve_constant_par.py"
NAME_SCRIPT_3="3_BC_discriminator_par.sh"
NAME_SCRIPT_4="4_samples_RBS_par.py"
NAME_SCRIPT_5="5_RBS_sequence_par.sh"
NAME_SCRIPT_6="6_cat.sh"
NAME_SCRIPT_7="7_cal_parse_print.py"

# various paths
OUT_DIR="${ROOT_DIR}/output"
RESULT_DIR="${ROOT_DIR}/results"
LOG_DIR="${ROOT_DIR}/log"

# variour variables
# SAMPLES_NUMBER=${#SAMPLES_BC[@]} <- does not work that way in bash
BARCODES_NUMBER=${#BARCODES_L[@]}

# paths to the single scripts (if other than default)
SCRIPT_0="${EXE_DIR}/${NAME_SCRIPT_0}"
SCRIPT_1="${EXE_DIR}/${NAME_SCRIPT_1}"
SCRIPT_2="${EXE_DIR}/${NAME_SCRIPT_2}"
SCRIPT_3="${EXE_DIR}/${NAME_SCRIPT_3}"
SCRIPT_4="${EXE_DIR}/${NAME_SCRIPT_4}"
SCRIPT_5="${EXE_DIR}/${NAME_SCRIPT_5}"
SCRIPT_6="${EXE_DIR}/${NAME_SCRIPT_6}"
SCRIPT_7="${EXE_DIR}/${NAME_SCRIPT_7}"

# define timestamp functions
timestamp()
{
 date +"%Y-%m-%d %T"
}
